# DATA TABLE TUTORIAL
AN ALTERNATIVE TO PANDA OR SFRAME

In [1]:
!pip install datatable

Requirement already satisfied: datatable in c:\users\ibast\anaconda3\lib\site-packages (1.0.0)

In [2]:
#load EDA Pkgs
import datatable as dt

In [3]:
#method dt
dir(dt)

['FExpr',
 'Frame',
 'Namespace',
 'Type',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_build_info',
 'abs',
 'as_type',
 'bool8',
 'build_info',
 'by',
 'cbind',
 'corr',
 'count',
 'cov',
 'cut',
 'dt',
 'exceptions',
 'exp',
 'expr',
 'f',
 'first',
 'float32',
 'float64',
 'frame',
 'fread',
 'g',
 'ifelse',
 'init_styles',
 'int16',
 'int32',
 'int64',
 'int8',
 'internal',
 'intersect',
 'iread',
 'isna',
 'join',
 'last',
 'lib',
 'log',
 'log10',
 'ltype',
 'math',
 'max',
 'mean',
 'median',
 'min',
 'obj64',
 'options',
 'qcut',
 'rbind',
 're',
 'repeat',
 'rowall',
 'rowany',
 'rowcount',
 'rowfirst',
 'rowlast',
 'rowmax',
 'rowmean',
 'rowmin',
 'rowsd',
 'rowsum',
 'sd',
 'setdiff',
 'shift',
 'sort',
 'split_into_nhot',
 'str',
 'str32',
 'str64',
 'stype',
 'sum',
 'symdiff',
 'time',
 'types',
 'union',
 'unique',
 'update']

In [4]:
!pip install prettyTable

Requirement already satisfied: prettyTable in c:\users\ibast\anaconda3\lib\site-packages (3.3.0)
Requirement already satisfied: wcwidth in c:\users\ibast\anaconda3\lib\site-packages (from prettyTable) (0.2.5)

In [9]:
from prettytable import PrettyTable

In [11]:
columns=["STUDENT NAME","ROLL NO","TOTAL NUM","PLACE"]
mytable=PrettyTable()
mytable.add_column(columns[0],["Hanry","John","Mary","Jenifer","Batman","Superman","Spiderman"])
mytable.add_column(columns[1],[1,2,3,4,5,6,7])
mytable.add_column(columns[2],[95,92,90,89,87,86,85])
mytable.add_column(columns[3],["First","Second","Third","Fourth","Fifth","SIxth","Seventh"])

In [12]:
mytable

+--------------+---------+-----------+---------+
| STUDENT NAME | ROLL NO | TOTAL NUM |  PLACE  |
+--------------+---------+-----------+---------+
|    Hanry     |    1    |     95    |  First  |
|     John     |    2    |     92    |  Second |
|     Mary     |    3    |     90    |  Third  |
|   Jenifer    |    4    |     89    |  Fourth |
|    Batman    |    5    |     87    |  Fifth  |
|   Superman   |    6    |     86    |  SIxth  |
|  Spiderman   |    7    |     85    | Seventh |
+--------------+---------+-----------+---------+